body {
  	font-family: 'Lato', sans-serif;
  	color: #FFFFFF;
  	background-color: #3747CA;
  	background-repeat: repeat;
  	background-attachment: scroll, local;
  	padding : 0;
  	margin: 0;
}

header.page-header{
	background-image: url(./media/orange-flamme.jpg);
	background-repeat: repeat;
	background-size: cover;

	display: flex;
	justify-content: space-around;

	height: 103px;
	width: 100%;
	align-items: center;
	color: #FFFFFF;
	text-shadow: #000 0 0 .2em;
	position: fixed;
}

header.page-header > h1 {
	font: bold calc(1em + 2 * (100vw - 120px) /100 ) 'Dancing Script' cursive , fantasy ;
}
.ancre{
	display: flex;
	justify-content: space-between;
	width: 33%

}


header.nom-prenom {
	padding-left: 1.5em;
	display: flex;
	flex-direction: column;
}

.bloc-principal{
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: flex-start;

	width: 300%;
	height: 100%;
	padding-top: 103px;

}

.bloc-gauche{
	width: 100%;
	background-color: orange;
}

.bloc-centre{
	width: 100%;
	background-color: black;

}

.bloc-droite{
	width : 100%;
	background-color: red;
}