/*Parametre du body*/
body {
  	font-family: 'Lato', sans-serif;
  	color: #FFFFFF;

  	background-color: black;

  	padding : 0;
  	margin: 0;
}

/*Parametre du header*/
header.page-header{
	background-image: url(./media/orange-flamme.jpg);
	background-repeat: repeat;
	background-size: cover;

	display: flex;
	justify-content: space-between;

	height: 103px;
	width: 100%;
	align-items: center;
	color: #FFFFFF;
	text-shadow: #000 0 0 .2em;
	position: fixed;

	padding-left: 200px;
}

/* Parametre du titre h1 dans le header */
header.page-header > h1 {
	font: bold calc(1em + 2 * (100vw - 120px) /100 ) cursive , fantasy ;
}

/*Parametre de la class nom prenom dans le header*/
header.nom-prenom {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.bouton{
	width: 50%;

	display: flex;
	flex-direction: row;

	justify-content: center;
	text-align: center;
	margin: 0 auto;
	

}

.button-container {
	display: flex;
	justify-content: space-around;
	text-align: center;
  
  padding:  40px 0px;
  width: 100%;
}

/*Copier coller depuis le site mis en ReadMe*/

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #FFF;
  border: 4px solid #000;
  box-shadow:0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #666;
  background-color: #FFF;
  box-shadow:0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span{
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #FFF;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: #FFF;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

/*Fin du copie Colle*/

/*parametre du bloc principal*/
.bloc-principal{

	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: flex-start;

	width: 3000px;
	height: 87%;

	position: absolute;
	top: 11%;

}

/*Parametre du bloc gauche*/
.bloc-presentation{
	display: flex;
	width: 100em;
	height: 100%;

	background-color: orange;
	background-image: linear-gradient(to right, red, orange);

}

.contact{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bouton-contact{
	display: block;
	width: 200px;
	line-height: 50px;
	text-align:center;
	vertical-align:middle;
	background-image: linear-gradient(to right, red, orange);
	color: white;
	text-decoration :none;
}
.bouton-contact:hover {
	background-image: linear-gradient(to right, orange, orange);
	transition: margin-right 2s;
}

.bloc-presentation-droite{
	width: 60%;
}

.phrase-accroche{
	text-align: center;
}

.contact{
	text-align : center;
}

/*Parametre de la photo dans le bloc de présentation*/
.photo{
	width: 90%;
	padding-left: 1.1em;
}

/*Parametre du bloc de présentation gauche dans le bloc de présentation principal*/
.bloc-presentation-gauche{
	text-align : center;
}

/*Parametre du bloc centre, le bloc principal des projets*/
.bloc-p-projet{
	width: 100%;
	height: 100%;
	background-color: black;
	background-image: linear-gradient(to right, orange, black, orange);

}

/*Parametre des blocs de projets*/
.bloc-projet {
	margin-left: 15px;
	margin-right: 15px;

}
.bloc-projet > h3{
	border: 1px solid black;
	background-image: linear-gradient(to right, red, orange, red);
	text-align: center;
}

.project-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.b-p-g{
	width: 40%
}

.b-p-g > img {
	border: 2px solid black;

	width: 100%;
}

.b-p-d{
	width: 40%
}

/*Parametre du bloc de droite, celui des idées*/
.bloc-idee{
	width : 100%;
	height: 100%;

	background-color: red;
	background-image: linear-gradient(to right, orange, red);
}

.bloc-idee > h3 {
	border: 1px solid black;
	background-image: linear-gradient(to right, black, orange, black);
	text-align: center;
}
.bloc-idee > h5{
	border: 1px solid black;
	background-image: linear-gradient(to right, violet, orange, violet);
	text-align: center;
}

.idea-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.b-i-g{
	width: 45%
}

.b-i-g > img{
	width: 100%
}

.b-i-d{
	width: 45%
}