/*Parametre du body*/
body {
  	font-family: 'Lato', sans-serif;
  	color: #FFFFFF;

  	background-color: black;

  	padding : 0;
  	margin: 0;
}

/*Parametre du header*/
header.page-header{
	background-image: url(./media/orange-flamme.jpg);
	background-repeat: repeat;
	background-size: cover;

	display: flex;
	justify-content: space-around;

	height: 103px;
	width: 100%;
	align-items: center;
	color: #FFFFFF;
	text-shadow: #000 0 0 .2em;
	position: fixed;
}

/* Parametre du titre h1 dans le header */
header.page-header > h1 {
	font: bold calc(1em + 2 * (100vw - 120px) /100 ) cursive , fantasy ;
}

.ancre{
	display: flex;
	justify-content: space-between;
	width: 33%

}

/*Parametre de la class nom prenom dans le header*/
header.nom-prenom {
	padding-left: 1.25em;
	display: flex;
	flex-direction: column;
}

/*parametre du bloc principal*/
.bloc-principal{

	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: flex-start;

	width: 3000px;
	height: 87%;

	position: absolute;
	top: 11%;

}

/*Parametre du bloc gauche*/
.bloc-presentation{
	display: flex;
	width: 100em;
	height: 100%;

	background-color: orange;
	background-image: linear-gradient(to right, red, orange);

}

.bloc-presentation-droite{
	width: 60%;
}

.phrase-accroche{
	text-align: center;
}

.contact{
	text-align : center;
}

/*Parametre de la photo dans le bloc de présentation*/
.photo{
	width: 90%;
	padding-left: 1.1em;
}

/*Parametre du bloc de présentation gauche dans le bloc de présentation principal*/
.bloc-presentation-gauche{
	text-align : center;
}

/*Parametre du bloc centre, le bloc principal des projets*/
.bloc-p-projet{
	width: 100%;
	height: 100%;
	background-color: black;
	background-image: linear-gradient(to right, orange, black, orange);

}

/*Parametre des blocs de projets*/
.bloc-projet {
	margin-left: 15px;
	margin-right: 15px;

}
.bloc-projet > h3{
	border: 1px solid black;
	background-image: linear-gradient(to right, red, orange, red);
	text-align: center;
}

.project-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.b-p-g{
	width: 40%
}

.b-p-g > img {
	border: 2px solid black;

	width: 100%;
}

.b-p-d{
	width: 40%
}

/*Parametre du bloc de droite, celui des idées*/
.bloc-idee{
	width : 100%;
	height: 100%;

	background-color: red;
	background-image: linear-gradient(to right, orange, red);
}

.bloc-idee > h3 {
	border: 1px solid black;
	background-image: linear-gradient(to right, black, orange, black);
	text-align: center;
}
.bloc-idee > h5{
	border: 1px solid black;
	background-image: linear-gradient(to right, violet, orange, violet);
	text-align: center;
}

.idea-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.b-i-g{
	width: 45%
}

.b-i-g > img{
	width: 100%
}

.b-i-d{
	width: 45%
}